# Predict Covid Spread - Data Cleaning

In [39]:
import pandas as pd
import warnings

warnings.filterwarnings('ignore')

data = pd.read_csv('Week 1 Forecasting Data/train.csv',parse_dates=['Date'])
data.head()

,Id,Province/State,Country/Region,Lat,Long,Date,ConfirmedCases,Fatalities
0,1,NaN,Afghanistan,33.0,65.0,2020-01-22,0.0,0.0
1,2,NaN,Afghanistan,33.0,65.0,2020-01-23,0.0,0.0
2,3,NaN,Afghanistan,33.0,65.0,2020-01-24,0.0,0.0
3,4,NaN,Afghanistan,33.0,65.0,2020-01-25,0.0,0.0
4,5,NaN,Afghanistan,33.0,65.0,2020-01-26,0.0,0.0

In [40]:
data.rename(columns={'Province/State': 'State',
                     'Country/Region': 'Country',
                     'ConfirmedCases': 'Confirmed',
                     'Fatalities': 'Deaths'}, inplace=True)
data.head()

   Id State      Country   Lat  Long       Date  Confirmed  Deaths
0   1   NaN  Afghanistan  33.0  65.0 2020-01-22        0.0     0.0
1   2   NaN  Afghanistan  33.0  65.0 2020-01-23        0.0     0.0
2   3   NaN  Afghanistan  33.0  65.0 2020-01-24        0.0     0.0
3   4   NaN  Afghanistan  33.0  65.0 2020-01-25        0.0     0.0
4   5   NaN  Afghanistan  33.0  65.0 2020-01-26        0.0     0.0

In [41]:
data[['State']] = data[['State']].fillna('')
data[['Confirmed']] = data[['Confirmed']].fillna(0)
data[['Deaths']] = data[['Deaths']].fillna(0)

data.head()

   Id State      Country   Lat  Long       Date  Confirmed  Deaths
0   1        Afghanistan  33.0  65.0 2020-01-22        0.0     0.0
1   2        Afghanistan  33.0  65.0 2020-01-23        0.0     0.0
2   3        Afghanistan  33.0  65.0 2020-01-24        0.0     0.0
3   4        Afghanistan  33.0  65.0 2020-01-25        0.0     0.0
4   5        Afghanistan  33.0  65.0 2020-01-26        0.0     0.0

In [42]:
data.drop('Lat', axis=1, inplace=True)
data.drop('Long', axis=1, inplace=True)

data.head()

   Id State      Country       Date  Confirmed  Deaths
0   1        Afghanistan 2020-01-22        0.0     0.0
1   2        Afghanistan 2020-01-23        0.0     0.0
2   3        Afghanistan 2020-01-24        0.0     0.0
3   4        Afghanistan 2020-01-25        0.0     0.0
4   5        Afghanistan 2020-01-26        0.0     0.0

In [35]:
from os.path import exists

file_path = '[Cleaned] Week 1 Forecasting Data/train.csv'

if not exists(file_path):
    data.to_csv(file_path)

Performing the same cleaning for 'test.csv'

In [47]:
data2 = pd.read_csv('Week 1 Forecasting Data/test.csv',parse_dates=['Date'])

data2.rename(columns={'ForecastId': 'Id',
                     'Province/State': 'State',
                     'Country/Region': 'Country'}, inplace=True)

data2[['State']] = data2[['State']].fillna('')

data2.drop('Lat', axis=1, inplace=True)
data2.drop('Long', axis=1, inplace=True)

file_path2 = '[Cleaned] Week 1 Forecasting Data/test.csv'

if not exists(file_path2):
    data.to_csv(file_path2)

In [48]:
data2.head()

   Id State      Country       Date
0   1        Afghanistan 2020-03-12
1   2        Afghanistan 2020-03-13
2   3        Afghanistan 2020-03-14
3   4        Afghanistan 2020-03-15
4   5        Afghanistan 2020-03-16